<script type="text/javascript">
    window.Administator = "@ViewBag.Admin";
    window.AppsAdmin = "@ViewBag.AppsAdmin";
    window.ActiveDirectory = "@ViewBag.ActiveDirectory";
</script>

<div id="root"></div>



<script src="~/App/browser-bundle.js"></script>