.textarea {
    margin-bottom: 6px;
    width: 100%;
}

.textarea {
    font-size: 14px;
    margin-bottom: 2px;
}

.textarea__input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
}
