<h2>Bazooka</h2>

<ul class="main-navigation">
  <li><a href="docs.html">Home</a></li>
  <li> <b>Getting started</b>
    <ul>
      <li><a href="motivation.html">Motivation</a></li>  
      <li><a href="what-is-bazooka.html">What is Bazooka</a></li>  
    </ul>
  </li>
  <li><b>Packaging</b>
    <ul>
      <li><a href="packaging.html">Packages</a></li>  
      <li><a href="create-a-package.html">Create a package</a></li>  
    </ul>
  </li>
   <li><b>Command line</b>
    <ul>
      <li><a href="cli.html">Client</a></li>  
      <li><a href="cli-install.html">Install</a></li>  
      <li><a href="cli-remove.html">Remove</a></li> 
      <li><a href="cli-update.html">Update</a></li>   
      <li><a href="cli-blast.html">Update</a></li>   
    </ul>
  </li> 
    <li><b>Web application</b>
    <ul>
      <li><a href="structure.html">Structure</a></li>  
      <li><a href="web-installation.html">Installation</a></li>  
      <li><a href="agent-installation.html">Install an agent</a></li> 
      <li><a href="web-configure.html">Configure</a></li> 
      <li><a href="first-deploy.html">Your first deploy</a></li> 
      <li><a href="groups.html">Users and groups</a></li> 
      <li><a href="permissions.html">Handling permissions</a></li> 
      <li><a href="statistics.html">Statistics</a></li> 
    </ul>
  </li>  
</ul>
