<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bazooka</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        window.Profile = "@User.Identity.Name" ;
    </script>


        @RenderBody()

    <script src="~/App/browser-bundle.js"></script>
</body>
</html>
