<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bazooka</title>
    <script src="~/App/browser-bundle.js"></script>

</head>
<body>
        @RenderBody()
</body>
</html>
