<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bazooka</title>

    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <script type="text/javascript">
        window.Profile = "@User.Identity.Name";
    </script>


    @RenderBody()


</body>
</html>
