* {
  box-sizing: border-box; }


.fullImage {
  margin-top:20px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }


nav {
    height: 40px;
    background-color: rgba(56, 56, 56, 0.85);
    text-align: center;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 100%;  
    top:0;
}

nav a {
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    line-height: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.19);  
}

nav ~ div {
  margin-top:40px;
  width:100%;
}

#Bazooka {
  width:100%;
  text-align:center;
}

#Bazooka h1 {
  font-size: 64px;
  margin-bottom: 0px;
  line-height: 50px;
}

#Bazooka h3 {
  margin-top: 0;
}

#Features {
  background-color: #025D8C;
    padding: 100px;
    color: white;
    margin-top: 75px;
}

#Features div {
    padding: 20px;
    font-size: 26px;
    text-align: center;
    background-color: #7887AC;
    margin-bottom: 30px;
}
  
#Resources {
  color: white;
    margin-top: 75px;
}

#Resources div {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    padding: 30px;
    margin-bottom: 75px;
}

#Resources div a {
  display: inline-block;
    padding: 10px;
  color:#1e6bb8;
}

#Resources div a svg{
  height:80px;
  fill:#1e6bb8;
}

#Resources div a:hover {
  text-decoration: none;
    background-color: rgba(179, 174, 174, 0.35);
}
