* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  width: 100%;
}

.main-title {
  text-align: center;
}

.main-title h1 {
  font-weight: 100;
  font-size: 66px;
  margin: 0;
}

.main-title h3 {
  font-weight: 100;
  font-size: 32px;
  margin: 0;
}

.fullImage {
  width:600px;
  padding:30px;
}

#header {
  background-color:#303F9F;
}

#main-nav h2{
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  margin-left: 18px;
}


html, body, .container, .left-col {
    height: 100%;
    min-height: 100%;
}

.left-col {
  float:left;
  width:20%;
  background-color: #eee;
}

.mid-col {
  margin-left: 20%;
  padding: 10px;
  height: 100%;
    min-height: 100%;
    overflow: auto;
    max-height: 100%;
}

#main-nav ul {
      list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
}

.main-navigation a {
  color:#606c71;
}

nav {
    height: 40px;
    background-color: rgba(56, 56, 56, 0.85);
    text-align: center;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 100%;  
}

nav a {
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.19);  
}

nav ~ div {
  margin-top:40px;
  width:100%;
}

#Bazooka {
  width:100%;
}

#Bazooka h1 {
  font-size: 64px;
  margin-bottom: 0px;
  line-height: 50px;
}

#Bazooka h3 {
  margin-top: 0;
}
  

