.application {
    height:100vh;
    width:100vw;
    overflow:auto;
}

.application__header{
    height:50px;
    background-color:#0094ff;
    width:100%;
}

.application__header__logo{
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding: 5px 15px;
}

.application__body {
    height:calc(100vh - 50px);
    overflow:auto;
    width:100%;
}