{% include head.html %}

<body>
	<div class="container">
		<header id="header" class="inner">{% include header.html %}</header>
		<div class="left-col">
			<nav id="main-nav">{% include navigation.html %}</nav>
		</div>
		<div class="mid-col">
			<div class="mid-col-container">
				<div id="content" class="inner">{{ content }}</div>
				{% if site.disqus_short_name %}
				<section id="comment">
					<h1 class="title">Comments</h1>
					<div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
				</section>
				{% endif %}

			</div>
		</div>
	</div>
</body>
</html>
