$navbar-height: 30px;
$navbar-default-color: white;
$navbar-default-bg: #303F9F;
$navbar-default-link-color: white;
$brand-primary: #303F9F;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-color: #bbbbbb;

html, body {
     width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}


* {
    box-sizing:border-box;
}

.Login {
    width:100vw;
    height:100vh;
    background-color:$brand-primary;
}

.Login > div {
    padding-top:20vh;
}

.Login__form {
    width:300px;
    margin: 0 auto;
    padding:10px;
    background-color:white;
    border:1px solid #ccc;
    border-radius:5px;


}