html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.Login {
  width: 100vw;
  height: 100vh;
  background-color: #303F9F; }

.Login > div {
  padding-top: 20vh; }

.Login__form {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px; }
