$icon-font-path: "./fonts/bootstrap/";
$navbar-height: 30px;
$navbar-default-color: white;
$navbar-default-bg: #303F9F;
$navbar-default-link-color: white;
$brand-primary: #303F9F;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-color: #bbbbbb;
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@media only screen and (min-width: 1100px) {
    .applicationGrid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .applicationGrid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


.application {
    display: inline-block;
    width: 100%;
}


svg {
    display: block;
    margin: 0 auto;
    height: 1000px !important;
}

g.tick text {
    -ms-writing-mode: tb;
    writing-mode: tb;
    text-anchor: inherit;
}

.AgentLogo {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.AgentLogo:hover {
    text-decoration: none;
}


.AgentLogo i {
    font-size: 50px;
    margin-bottom: 5px;
    display: block;
}
